<footer id="footer">
  <div class="footer-left">
    <%= __('footer.copyright') %> &copy;
    <% var endYear = (theme.copyright && theme.copyright.end_year) ? theme.copyright.end_year : new Date().getFullYear() %>
    <% var startYear = (theme.copyright && theme.copyright.start_year) ? theme.copyright.start_year : new Date().getFullYear() %>
    <%= startYear >= endYear ? endYear : startYear + "-" + endYear %>
    <%= config.author || config.title %>
  </div>
  <div class="footer-right">
    <section id="about">
      <% if (config.description) { %>
        <%- markdown(config.description) %>
      <% } %>
      <% if (theme.social_links) { %>
        <p>
          <%= __('index.find_me_on') %>
          <% var nb_links = Object.keys(theme.social_links).length %>
          <% var i = 0 %>
          <% for(var link in theme.social_links) { %>
            <% if (link == 'mail') { %>
              <a class="icon" target="_blank" rel="noopener" href="<%- theme.social_links[link] %>" aria-label="<%- link %>">
                <i class="fas fa-envelope"></i><!--
          ---></a>
            <% } else if (link == 'rss') { %>
              <a class="icon" target="_blank" rel="noopener" href="<%- theme.social_links[link] %>" aria-label="<%- link %>">
                <i class="fas fa-rss"></i>
              </a>
            <% } else { %>
              <a class="icon" target="_blank" rel="noopener" href="<%- url_for(theme.social_links[link]) %>" aria-label="<%- link %>">
                <i class="fab fa-<%= link %>"></i><!--
          ---></a><!--
        ---><% } %><!--
        ---><%= ( nb_links > 0 && i < nb_links-1 ?
                ( i == nb_links-2 ? ' '+__('index.enum_and')+' '
                : __('index.enum_comma')+' ' )
                : '.' ) %>
            <% i+=1 %>
          <% } %>
        </p>
      <% } %>
    </section>
  </div>
</footer>
